/* Estilos para hacer las tarjetas responsivas */
.responsive-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; /* Ajusta el valor según tus necesidades */
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .responsive-card ion-card-header,
  .responsive-card ion-card-content {
    padding: 1rem;
  }
  
  .responsive-card img {
    width: 100%;
    height: auto;
  }
  
  /* Estilos adicionales para dispositivos pequeños */
  @media (max-width: 576px) {
    .responsive-card {
      max-width: 100%;
    }
  }
  